<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="csrf-header" th:content="${_csrf.headerName}">
  <meta name="csrf-token" th:content="${_csrf.token}">
  <title>Title</title>
  <script src="/js/pagination.js"></script>
  <script src="/js/logout.js"></script>
  <link th:href="@{/app.css}" rel="stylesheet"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
<div class="bg-stone-100 overflow-x-hidden px-2">
  <div class="flex max-w-6xl mx-auto items-center justify-between py-10 lg:py-20">
    <div class="relative max-w-5xl">
      <form
          method="get"
          action="/books"
          role="search"
          class="relative flex w-full h-15 items-center mb-10 lg:mb-20"
      >
        <input
            type="search"
            name="keyword"
            class="border border-stone-200 w-full h-full p-2 text-stone-700 text-lg bg-white"
        />
        <button type="submit" class="absolute right-3">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <th:block th:each="book: ${books}">
        <th:block th:replace="~{component/box :: bookBox(book=${book})}"></th:block>
      </th:block>
    </div>
    <button
        class="hidden lg:flex h-15 items-center gap-1 self-baseline p-2"
        onclick="logout()"
    >
      <i class="fa-solid fa-arrow-right-from-bracket"></i>
      <p class="text-xs lg:text-sm font-medium text-stone-700">
        로그아웃
      </p>
    </button>
  </div>

  <ol class="flex justify-center py-5">
    <li class="flex text-black w-10 h-10 justify-center items-center">
      <button onClick=handleBackward()><</button>
    </li>
    <li th:each="number: ${numbers}" class="pagination">
      <a th:if="${number}==${currentPage}" th:text="${number}"
         th:href="@{/books(keyword=${keyword},pageNo=${number})}"
         class="flex text-blue-500 font-bold underline underline-offset-4 decoration-4 decoration-blue-500 w-10 h-10 justify-center items-center"/>
      <a th:unless="${number}==${currentPage}" th:text="${number}"
         th:href="@{/books(keyword=${keyword},pageNo=${number})}"
         class="flex text-black w-10 h-10 justify-center items-center"/>
    </li>
    <li class="flex text-black w-10 h-10 justify-center items-center">
      <button onClick=handleForward()>></button>
    </li>
  </ol>
</div>
<script th:inline="javascript">
  init([[${currentPage}]]);
  render();
</script>
</body>
</html>