<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form sec:authorize="isAnonymous()" method="post" action="/login">
  <input name="username" placeholder="Username"/>
  <input name="password" type="password" placeholder="Password"/>
  <input type="hidden"
         th:name="${_csrf.parameterName}"
         th:value="${_csrf.token}"/>
  <button type="submit">Login</button>
</form>
<form sec:authorize="isAuthenticated()" method="post" action="/logout">
  <input type="hidden"
         th:name="${_csrf.parameterName}"
         th:value="${_csrf.token}"/>
  <button type="submit">Logout</button>
</form>
<hr/>

<!-- OAuth2 Login -->
<a th:href="@{/oauth2/authorization/google}">Login with Google</a>
<a th:href="@{/oauth2/authorization/kakao}">Login with Kakao</a>
</body>
</html>